// Styling for the download section
section.download {

    h2 {
        margin-top: 0;
    }

    .badges {

        .badge-link {
            border: none;
            background: none;
            cursor: pointer;
            display: block;
            margin-bottom: 25px;

            &:focus {
                outline: none;
            }
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
                &:hover {
                    opacity: .5;
                }
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }

}
