// Styling for the features section
section.features {

    position: relative;
    background-image: linear-gradient(to right bottom, #5394a1, #478895, #3a7d89, #2d717d, #1f6672);

    .text-muted {
        color: white !important;
    }

    .section-heading {
        margin-bottom: 100px;
        h2 {
            margin-top: 0;
            color: white;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        h3 {
            font-size: 30px;
            color: white;
        }
        i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            color: white;
            // background: -webkit-linear-gradient(to left, #FA5457, #C1152E);
            // background: linear-gradient(to left, #FA5457, #C1152E);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }

}
